body {
  background-color: #ea8981;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: white;

  /*La taille est en absolu, car on ne veut pas que la moindre changement de la taille 
  de la page fasse varier les tailles de tous les éléments*/
  width: 500px;
  height: 250px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  

  position :absolute;
  left:50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);


  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leftPanel{
  display: flex;
  flex-direction: column;

  /*La taille est donnée en % pour que les proportions restent toujours
  les mêmes. Cela n'aura pas d'impact si la fenêtre 
  principale garde toujours la même taille*/
  width: 30%;
  height: 100%;
}

.pic{
  position: relative;
  width: 100%;
  height: 70%;
}

#picture{
  position: relative;
  left:50%;
  transform: translateX(-50%);

  width: 150px;
  height: 150px;

  border-radius: 10%;
  border: 1px solid #888;
}

.button{
  position: relative;
  width: 100%;
  height: 30%;
 
}

.followButton{
  position: relative;
  background-color: #59c9a5;
  font-size: 20px;
  color: #FFF;

  width:150px;
  height: 50px;
  border:none;
  border-radius: 10px;
}

.rightPanel{
  display: flex;
  flex-direction: column; 

  width: 70%;
  height: 100%;
  padding-left: 5%;
}

.title{
  position: relative;
  width: 100%;
  height: 15%
}

#Name {
  margin: 0;
}

.undertitle{
  position: relative;
  width: 100%;
  height: 10%
}

.description{
  position: relative;
  width: 100%;
  height: 45%
}

.stats{
  position:relative;

  width:100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}